/*Principal*/
body{
  font-family: "Dancing Script";
  background-color: #02010A;
  margin: 0px;
  width: 100%;
}
/*Animaciones*/
header{
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
  animation-name: slidein;
}
@-moz-keyframes slidein {
  from{
    margin-top: 100%
  }
  to{
    margin-top: -3%
  }
}
@-web-kit-keyframes slidein {
  from{
    margin-top: 100%
  }
  to{
    margin-top: -3%
  }
}
@keyframes slidein {
  from{
    margin-top: 100%
  }
  to{
    margin-top: -3%
  }
}
.contenido{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 899px) {
  .contenido{
    width: 100%;
  }
}
img{
  box-shadow: 2px 2px 2px #02010a;
}
/*Header*/
.header{
  background-color: #5B7989;
  color: white;
  margin: 0;
  text-shadow: 2px 2px 2px #02010A;
  border-radius: 10px 10px 0 0;
}
.activa{
  text-decoration: none;
}
@media (min-width: 900px) {
  header>h1{
    width: 70%;
    margin: 20px;
  }
  .header{
    display: flex;
}
  #menu-principal{
    width: 30%;
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: center;
    margin-right: 20px;
  }
  #menu-principal a{
    width: 33.3%;
    color: white;
    text-align: right;
  }
}
@media (max-width: 899px) {
  .header{
    text-align: center;
    align-items: center;
    align-content: center;
  }
  header h1{
    margin: 20px;
  }
  #menu-principal{
    vertical-align: middle;
    padding: 20px

  }
  #menu-principal a{
    margin: 20px;
    color: white;
  }
}
/*Imagen Principal*/
article.imgprincipal{
  background: #82c3a6;
  padding: 20px;
  display: block;
}
img.imgprin{
  width: 70vw;
  display: block;
  margin: auto;
}
/*Imagenes Secundarias*/
article.imgsecundaria{
  background: #d5c75f;
  padding: 20px;
}
figcaption{
  text-align: center;
}
/*Animacion Imagenes*/
img.view1:hover{
  transform: rotate(10deg);
  box-shadow: #82C3A6;
  border: 2px solid black;
  transition-duration: 1s;
}
img.ret:hover{
  transform: translate(20px,-5px);
  box-shadow: #82C3A6;
  border: 2px solid black;
  transition-duration: 1s;
}

/*Imagenes Secundarias PC*/
@media (min-width: 900px){
  article.imgsecundaria{
    display: flex;
  }

  div.imgizq{
    width: 50%;
  }
  div.imgder{
    width: 50%
  }
}
figure img{
  border: 1px solid black;
  width: 100%
  }
}
/*Imagenes Secundarias Movil*/
@media (max-width: 899px){
  div.imgizq{
    width: 100%;
    display: block;
  }
  div.imgder{
    width: 100%;
    display: block;
  }
}
figure img{
  border: 1px solid black;
  width: 100%
}
/*Footer*/
footer{
  padding: 15px;
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
}
.icono{
  width: 2vw
}
#redes figure{
  display: block;
  display: inline;
  margin: 2vw;
}
@media (min-width: 900px){
  footer.pie_pagina{
    display: flex;
    align-items: center;
    text-align: center;
  }
  div.pie1{
    width: 25%;
    margin: 10px;
    padding: 10px;
  }
  div.pie2{
    width: 25%;
    margin: 10px;
    padding: 10px;
  }
  div.pie3{
    width: 25%;
  }

  div.pie4{
    width: 25%;
    margin: 10px;
    padding: 10px;
  }
}
/*Fin Index*/
/*Paisajes*/
.contpaisaje {
  margin: 0px;
  background: #d5c75f;

  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  -webkit-display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
}
  .imgpaisaje:nth-child(1){
    filter: blur(10px);
  }
  .imgpaisaje:nth-child(even){
    filter: grayscale(100%);
  }
  .imgpaisaje:nth-child(3){
    filter: sepia(90%);
  }
@media (min-width: 900px) {
  .imgpaisaje{
    margin: 20px;
    width: 25%;
    height: 25%;
  }
}
@media (max-width: 899px) {
  .imgpaisaje{
    margin: 20px;
    display: block;
    width: 80vw;
  }
}
/*Fin Paisajes*/
/*Retratos*/
.retratosimg {
  margin: 0px;
  background: #d5c75f;

  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  -webkit-display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
}
  .imgretrato:nth-child(1){
    filter: blur(10px);
  }
  .imgretrato:nth-child(even){
    filter: grayscale(100%);
  }
  .imgretrato:nth-child(3){
    filter: sepia(90%);
  }
@media (min-width: 900px) {
  .imgretrato{
    margin: 20px;
    width: 25%;
    height: 25%;
  }
}
@media (max-width: 899px) {
  .imgretrato{
    margin: 20px;
    display: block;
    width: 80vw;
  }
}
